---
import { getCollection } from "astro:content";
import '../styles/docs-menu.css';
import { ListFormat } from "typescript";

// Fetch collection
const docs = await getCollection("docs");

const orderLevel1 = [
    "kubernetes",
    "web",
    "git"
]

const titleList = {
  "kubernetes": "Kubernetes",
  "kubernetes/components": "Components",
  "kubernetes/components/ingress": "Ingress",
  "kubernetes/components/loadbalancer": "Load Balancer",
  "kubernetes/components/storage": "Storage",
  "kubernetes/kubectl": "Kubectl",
  "web": "Web",
  "web/ssr": "SSR",
  "git": "Git"
};

const sortLinks = (linkList) =>{

    return linkList.sort((a, b) => {
      // Extract the top-level categories
      const aTopLevel = a.split('/')[0];
      const bTopLevel = b.split('/')[0];
    
      // Compare based on orderLevel1
      const aIndex = orderLevel1.indexOf(aTopLevel);
      const bIndex = orderLevel1.indexOf(bTopLevel);
    
      if (aIndex !== bIndex) {
        return aIndex - bIndex;
      }
    
      // If top-level categories are the same, sort alphabetically
      return a.localeCompare(b);
    });

}

// Generate links for each Markdown document
const docLinks = docs.map((doc) => {
    const { slug, data } = doc;
  // Extract the slug (path without the `.md` extension)
  //const slug = doc.url.replace('/src', '').replace('.md', '');
  return `${slug}`;
});

// Function to generate nested UL/LI structure
function generateMenu(links) {

    const menu = {};

    const sortedLinks = sortLinks(links);


    // Create display name
    const linksAndNames = sortedLinks.forEach(path => {
        const cleanedPath = path.replace(/^\//, ""); // Remove leading slash
        const displayName = links[cleanedPath] || cleanedPath;
        //return { path: displayName}
        console.log(`Path: ${path}, Display Name: ${displayName}`);
    });


    // Build the nested object structure
    sortedLinks.forEach(link => {

        // Remove readme files from folders
        // They are used in the folder links
        if (link.includes('readme')) {
            return;
        }
        const parts = link.split('/').filter(Boolean);
        let current = menu;

        parts.forEach((part, index) => {
            if (!current[part]) {
                current[part] = index === parts.length - 1 ? link : {};
            }
            current = current[part];
        });
    });

    // Function to convert the object to HTML
    function buildList(items, level = 1, path = "") {
    let ul = '<ul>';
    for (let key in items) {
        // It´s a file
        if (typeof items[key] === 'string') {
            ul += `<li class="level${level} file"><a href="/docs/${items[key]}">${key}</a></li>`;
        } 
        // It´s a folder
        else {
       
            
            // Some what intricated way to get the slashed right
            // console.log(path +"/" + key)
            // console.log('key : path : level: ', `${key} : ${path} : ${level}`)
            // console.log('full path: ', `/docs/${path}${key}`)
            // console.log('items[key]: ', items[key])
            // console.log('items.readme: ', items.readme)

            // if (items.readme == undefined) {
            //     ul += `<li class="level${level} folder"><a href="">${key}</a>${buildList(items[key], level + 1, path + "/" + key)}</li>`;

            // } else {
            //     ul += `<li class="level${level} folder"><a href="/docs${path}/${key}">${key}</a>${buildList(items[key], level + 1, path + "/" + key)}</li>`;
            // }

            ul += `<li class="level${level} folder"><a href="/docs${path}/${key}/readme">${key}</a>${buildList(items[key], level + 1, path + "/" + key)}</li>`;

        }
    }
    ul += '</ul>';
    return ul;
}

    return buildList(menu);
}

// Generate the HTML for the menu
const menuHtml = generateMenu(docLinks);

const htmlString = `
<ul class="menu">
    <li class="level1 file"><a href="/docs/a">Item 1</a></li>
    <li class="level1 folder"><a href="/docs/b">Item 2</a>
      <ul>
        <li class="level2 file"><a href="/docs/c">Subitem 2.1</a></li>
        <li class="level2 folder"><a href="/docs/root">root 2.2</a>
          <ul>
            <li class="level3 file"><a href="/docs/e">Subitem 2.2.1</a></li>
            <li class="level3 file"><a href="/docs/f">Subitem 2.2.2</a></li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="level1 file"><a href="/docs/api/api">Item 3</a></li>
</ul>
`;


// console.log('html: ', menuHtml)
---
<style>
    ul {
        list-style-type: none;
    }
    .menu {
        list-style-type: none;

        padding-left: 0px;
    }
</style>
<!-- Render the generated menu directly -->
<!-- <div class="menu" id="menu" set:html={menuHtml}/> -->


<div>
    <!-- <ul id="menu" set:html={menuHtml}></ul> -->
    <!-- <div class="menu">
        <ul class="menu" id="menu" set:html={menuHtml}></ul>
    </div> -->

    <div class="menu" id="menu" set:html={menuHtml}/>


</div>

<script>
    import "../scripts/docs-menu.js";
 </script>

<!-- <div class="menu">
    <ul class="menu" id="menu" set:html={menuHtml}></ul>
</div> -->