---
import { getCollection } from "astro:content";
import '../styles/docs-menu.css';

// Fetch collection
const docs = await getCollection("docs");

// Generate links for each Markdown document
const docLinks = docs.map((doc) => {
    // console.log(doc)
    const { slug, data } = doc;
  // Extract the slug (path without the `.md` extension)
  //const slug = doc.url.replace('/src', '').replace('.md', '');
  return `${slug}`;
});

// Function to generate nested UL/LI structure
function generateMenu(links) {
    const menu = {};

    // Build the nested object structure
    links.forEach(link => {

        // Remove readme files from folders
        // They are used in the folder links
        if (link.includes('readme')) {
            return;
        }
        const parts = link.split('/').filter(Boolean);
        let current = menu;

        parts.forEach((part, index) => {
            if (!current[part]) {
                current[part] = index === parts.length - 1 ? link : {};
            }
            current = current[part];
        });
    });

    // Function to convert the object to HTML
    function buildList(items, level = 1, path = "") {
    let ul = '<ul>';
    for (let key in items) {
        if (typeof items[key] === 'string') {
            ul += `<li class="level${level} file"><a href="/docs/${items[key]}">${key}</a></li>`;
        } else {
            // Some what intricated way to get the slashed right
            console.log('path + key', path +"/" + key)
            // console.log('key : path : level: ', `${key} : ${path} : ${level}`)
            // console.log('full path: ', `/docs/${path}${key}`)
            // console.log('items[key]: ', items[key])

            console.log('items.readme: ', items.readme)

            // if (items.readme == undefined) {
            //     ul += `<li class="level${level} folder"><a href="">${key}</a>${buildList(items[key], level + 1, path + "/" + key)}</li>`;

            // } else {
            //     ul += `<li class="level${level} folder"><a href="/docs${path}/${key}">${key}</a>${buildList(items[key], level + 1, path + "/" + key)}</li>`;
            // }

            ul += `<li class="level${level} folder"><a href="/docs${path}/${key}/readme">${key}</a>${buildList(items[key], level + 1, path + "/" + key)}</li>`;

        }
    }
    ul += '</ul>';
    return ul;
}

    return buildList(menu);
}

// Generate the HTML for the menu
const menuHtml = generateMenu(docLinks);

const htmlString = `
<ul class="menu">
    <li class="level1 file"><a href="/docs/a">Item 1</a></li>
    <li class="level1 folder"><a href="/docs/b">Item 2</a>
      <ul>
        <li class="level2 file"><a href="/docs/c">Subitem 2.1</a></li>
        <li class="level2 folder"><a href="/docs/root">root 2.2</a>
          <ul>
            <li class="level3 file"><a href="/docs/e">Subitem 2.2.1</a></li>
            <li class="level3 file"><a href="/docs/f">Subitem 2.2.2</a></li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="level1 file"><a href="/docs/api/api">Item 3</a></li>
</ul>
`;


// console.log('html: ', menuHtml)
---
<style>
    ul {
        list-style-type: none;
    }
    .menu {
        list-style-type: none;

        padding-left: 0px;
    }
</style>
<!-- Render the generated menu directly -->
<!-- <div class="menu" id="menu" set:html={menuHtml}/> -->


<div>
    <!-- <ul id="menu" set:html={menuHtml}></ul> -->
    <!-- <div class="menu">
        <ul class="menu" id="menu" set:html={menuHtml}></ul>
    </div> -->

    <div class="menu" id="menu" set:html={menuHtml}/>


</div>

<script>
    import "../scripts/docs-menu.js";
 </script>

<!-- <div class="menu">
    <ul class="menu" id="menu" set:html={menuHtml}></ul>
</div> -->