---
import { getCollection } from 'astro:content';
import BaseLayout from './BaseLayout.astro';
const { frontmatter } = Astro.props;

export async function getStaticPaths() {
  const blogEntries = await getCollection('posts');
  return blogEntries.map(entry => ({
    params: { slug: entry.slug.split('/') }, // Handle nested slugs
    props: { entry },
  }));
}

export async function get({ params }) {
  const { slug } = params;
  const post = await getCollection('posts', ({ slug: entrySlug }) =>
    entrySlug === slug.join('/')
  );

  if (!post) {
    return { notFound: true };
  }

  return {
    props: { post },
  };
}

---
<BaseLayout pageTitle={frontmatter.title}>
  <p><em>{frontmatter.description}</em></p>
  <p>{frontmatter.pubDate.toString().slice(0,10)}</p>

  <p>Written by: {frontmatter.author}</p>

  <img src={frontmatter.image.url} width="300" alt={frontmatter.image.alt} />

  <div class="tags">
    {frontmatter.tags.map((tag) => (
      <p class="tag"><a href={`/tags/${tag}`}>{tag}</a></p>
    ))}
  </div>

  <slot />
</BaseLayout>
<style>
  a {
    color: #00539F;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
  }

  .tag {
    margin: 0.25em;
    border: dotted 1px #a1a1a1;
    border-radius: .5em;
    padding: .5em 1em;
    font-size: 1.15em;
    background-color: #F8FCFD;
  }
</style>